{% extends "base.html" %}

{% set nav_list=['全部','热门','其他其他','年度最佳','上升最快'] %}

{% block main %}
<div class="home">

  <!-- nav list -->
  <div class="home__nav">
    <ul>
      {% for i in nav_list %}
      <li {% if loop.first %}class="active"{% endif %}>
        <a href="#">{{ i }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- container -->
  <div class="home__container">
  </div>

  <!-- fixed button -->
  <a class="fixed-action" data-box-toggle="#write-box" onclick="return toggle_box(this);images=[];">
    <i class="fa fa-edit"></i>
  </a>

</div>


<!-- write box -->
{% include 'write_box.html' %}

{% endblock %}
{% block js %}
<script>
$(function(){

  images = []; // images for upload

  load_more(true); // load first 

  w_height = $(window).height();
  d_scroll = 0;
  d_height = 0;

  window.addEventListener('scroll', fixed_topbar, false);
  window.addEventListener('scroll', window_scroll, false);

  /** home nav **/
  $(".home__nav li").on("click", function(e){
    e.preventDefault();
    $(this).addClass("active");
    $(this).siblings(".active").removeClass("active");
    load_more(true);
  });

  /** textarea **/
  $("textarea").on("input", function(e){
    if($(this).val()){
      $(".write-box__header button").removeClass("button_state_disabled");
    }else{
      $(".write-box__header button").addClass("button_state_disabled");
    }
  });

  /** post **/
  $(".write-box__header button").on("click", function(e){
    e.preventDefault();
    if(!$(this).hasClass("button_state_disabled") && !$(this).hasClass("button_state_wait")) {
      $(this).addClass("button_state_wait");
      var content = $("textarea").val();
      $.ajax({
        url: 'http://localhost:3000/',
        type: 'POST',
        data: {'images':JSON.stringify(images),'content':content},
        success: function(result){
        }
      });
    }
  });
});
</script>
{% endblock %}
